body{
  background-color: white;
  color: black;
}


.banner{
  background-color: gold;
  color: black;
  text-align: center;
  bottom: 0;
  height: 10em;
  position: relative;
  top: 0;
  width: 100%;
}

#header{
  color: black;
  margin-top: 2.5%
  text-align:center;
  text-shadow: 4px 4px #0000;
  font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

#about{
  background-color: black;
  color: gold;
  height:1000px;

}

.btn{
  color: black;
}
